.App {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-image: url(./components/img/heaven-5114501_1920.jpg);
   background-repeat: no-repeat;
  background-size: cover;

}
